.after-team-selection:has(.weapons-section .weapon-customizer-container){
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100dvw;
  max-width: 100dvw;
}
.weapons-section:has(.weapon-customizer-container){
  width: 100%;
  max-width: 100dvw;
  padding: 0;
  margin: 0;
}

.weapon-customizer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: Arial, sans-serif;
}

.weapon-customizer-header {
  width: 100dvw;
  background-color: #1f1f1f;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #333;
}

.weapon-customizer-header button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.weapon-customizer-header button:hover {
  background-color: #444;
}

.weapon-customizer-content {
  display: flex;
  flex-grow: 1;
  padding: 24px;
  gap: 32px;
}

.customizer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
}

.customizer-left label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.customizer-left input,
.customizer-left select {
  margin-top: 4px;
  padding: 8px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
}

.stickers, .keychain {
  margin-top: 16px;
}

.stickers h3,
.keychain h3 {
  margin-bottom: 8px;
  font-size: 16px;
  border-bottom: 1px solid #444;
  padding-bottom: 4px;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}

.buttons button:first-child {
  background-color: #444;
}

.buttons button:last-child {
  background-color: #007bff;
}

.buttons button:last-child:hover {
  background-color: #0069d9;
}

.customizer-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  overflow-y: auto;
}

.weapon-customizer-body {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100dvh - 235px); /* Adjust based on header height */
}
/* nice scroll */
.weapon-customizer-body::-webkit-scrollbar {
  width: 8px;
}
.weapon-customizer-body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
.weapon-customizer-body::-webkit-scrollbar-track {
  background-color: #222;
}
.weapon-customizer-body::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.weapon-customizer-body > div {
  box-sizing: border-box;
  padding: 15px;
}

.weapon-customizer-body .left-panel {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* lub center jeśli chcesz centrować */
  gap: 16px;
}

.weapon-customizer-body .right-panel {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #44444420;
  border-radius: 8px;
  margin-top: 15px;
  margin-right: 15px;
}


.weapon-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weapon-preview > img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
}
.weapon-preview .preview-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.weapon-preview .preview-details h3{
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: capitalize;
}
.weapon-preview .preview-details p{
  margin: 0;
  font-size: 1em;
  color: #ccc;
  margin-top: 2px;
  margin-bottom: 2px;
}
.weapon-preview .preview-details .nametag_prev {
  color: #fff;
  font-size: 1em;
  word-break: break-all;
}


.skin-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px;
  min-height: 170px;
  max-height: 450px;
  overflow-y: auto;
  width: 100%;
}
/* nice scroll */
.skin-list::-webkit-scrollbar {
  width: 8px;
}
.skin-list::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
.skin-list::-webkit-scrollbar-track {
  background-color: #222;
}
.skin-list::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.skin-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #22222250;
  border: 1px solid #22222250;
  transition: transform 0.2s, outline 0.2s, border 0.2s, box-shadow 0.2s;
}

.skin-thumb {
  cursor: pointer;
  border: 2px solid transparent;
  padding: 4px;
}


.skin-thumb img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.skin-button:hover {
  border-color: #61dafb;
}

.skin-button.selected {
    outline: 1px solid #61dafb;
  box-shadow: 0 0 5px #61dafb80;
}

.skin-thumb {
  width: 110px;
  height: auto;
  border-radius: 4px;
  display: block;
}
.preview-keychain {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 5px;
  background-color: #1a1a1a40;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  font-size: 0.8em;
}
.preview-keychain p{
  margin: 0;
}
.keychain-preview{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.keychain-img {
  width: 65px;
  height: auto;
  object-fit: contain;
}

.preview-stickers {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #1a1a1a40;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
}
.weapon-preview .preview-details .preview-stickers p{
  margin: 0;
  font-size: 1em;
}
.sticker-preview-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 10px;
}
.sticker-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  width: 100%;
}
.sticker-img {
  width: inherit;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}
.sticker-preview.empty {
  color: gray;
  font-size: 12px;
  text-align: center;
}
.sticker-preview span{
  font-size: 12px;
  word-break: break-all;
  color: #ccc;
}

.weapon-customizer-body .left-panel .skin-details-settings{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-left: 15px;
}
.weapon-customizer-body .left-panel .skin-details-settings .skin-details-settings-labels{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
.weapon-customizer-body .left-panel .skin-details-settings .skin-details-settings-labels .skin-details-group{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.weapon-customizer-body .left-panel .skin-details-settings .skin-details-settings-labels label{
  font-size: 1em;
  color: rgb(239, 239, 239);
  font-weight: 500;
}
.weapon-customizer-body .left-panel .skin-details-settings .skin-details-settings-labels label input:not([type="checkbox"]){
  padding: 5px 10px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
  margin-left: 5px;
  font-size: 1em;
}
.weapon-customizer-body .left-panel .skin-details-settings .skin-details-settings-labels label input[type="checkbox"]{
  width: 17px;
  height: 17px;
  margin-left: 5px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.weapon-customizer-body .left-panel .skin-details-settings .buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 12px;
  margin-top: auto;
  padding-top: 5px;
}
.weapon-customizer-body .left-panel .skin-details-settings .buttons button{
  padding: 8px 25px;
  border: none;
  border-radius: 6px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
}
.weapon-customizer-body .left-panel .skin-details-settings .buttons button:first-child {
  background-color: #444;
}
.weapon-customizer-body .left-panel .skin-details-settings .buttons button:last-child {
  background-color: #0056b3;
}
.weapon-customizer-body .left-panel .skin-details-settings .buttons button:last-child:hover {
  background-color: #006fe6;
}

@media (max-height: 915px) {
  .weapon-customizer-body .right-panel {
    margin: 0;
    border: none;

  }
  .weapon-customizer-body .right-panel .weapon-preview img {
    max-width: 100%;
    width: auto;
    height: 150px;
  }
}
@media (max-width: 1000px){
  .sticker-preview span{
    display: none;
  }
}
@media (max-width: 915px) {
  .skin-list {
    max-height: 35dvh;
  }
  .weapon-customizer-body .left-panel .skin-details-settings .buttons{
    justify-content: flex-start;
    padding-top: 20px;
  }
  .weapon-customizer-body .left-panel .skin-details-settings .buttons button{
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
  }
}
@media (max-width: 715px) {
  .weapon-customizer-body {
    flex-direction: column;
  }
  .weapon-customizer-body .right-panel {
    width: 100%;
  }
  .weapon-customizer-body .left-panel{
    width: 100%;
    padding-right: 35px;
    box-sizing: border-box;
  }
  .weapon-customizer-body .right-panel .weapon-preview{
    width: 100%;
    max-width: 100%;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weapon-customizer-body .right-panel .weapon-preview img{
      max-width: 40%;
      width: auto;
      flex: 0 0 40%;
      margin: 20px;
      padding: 20px;
      border-radius: 12px;
      background-color: #1f1f1f40;
      height: 100%;
  }
   .weapon-customizer-body .right-panel .weapon-preview .preview-details {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-wrap: wrap;
      flex: 1;
      font-size: 0.8em;
   }

   .preview-keychain{
      width: 100%;
   }
  .preview-keychain p{
      display: none;
  }
  .weapon-customizer-body .right-panel .weapon-preview .preview-keychain img{
    margin: 0;
    background: none;
    padding: 0;
    height: 160px;
  }
    .weapon-customizer-body .right-panel .weapon-preview .preview-stickers .sticker-preview-list .sticker-preview img{
      margin: 0;
      padding: 0;
      max-width: 100%;
    }




}